.toggle-toggle
{
    border-radius: 30%;
    background-color: black;
    width: 60px;
    height: 30px;
    position: relative;
    opacity: 0.5;

     
    background-repeat: no-repeat;
    
}
.slider{
    border-radius: 100%;
    background-color:white;
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 4;
}
.slider-on{
    left: 0%;
}
.slider-off{
    left: 50%;
}

.image-slider
{
    z-index: 1;
    position: relative;
}

