.card-container
{
    height: 120%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-bottom: 6px;
    margin-top: 6px;
    
    border-radius: 3px;
    border-color: green;
    border-style: solid;
    
}
.card-container > * 
{
    display: flex;
    flex-direction: row;
    position: relative;
}
.preview
{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.card-header{
height: 10%;
}
.card-trailer{
    height: 15%;
    position: relative;
    

}
.card-trailer > *
{
    background-color: black;
    opacity: 0.5;
}
.card-trailer:hover{
    opacity: 1;
}
.card-icon{
    height: 70%;
    padding: 30% 30% 30% 25%;
    position:relative;
}
.card-footer
{
    height: 5%;
}
.card-hide{
    display: none !important;
}
.card-icon-trailer{
    height: 90%;
    width: 90%;
}
.card-header-icon-trailer
{ 
    width: 30%;
}
.card-opacity{
    opacity: 0.7;
}

.card-trailer-site
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card-header{
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    right: 1%;
    width: 100%;

}

.card-icon-data
{
height: 20px;
width: 20px;
z-index: 5;

}
.card-block>*{
    
}
.card-block
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color:grey;
    
}
.card-block p
{
    color:white;
    font-size: 8px;
}
.card-icon-img
{
    height: 40%;
    width: 40%;
    position: absolute;
    top:15%;
    left: 34%;
    bottom: 30%;
}
.card-icon-data
{
    object-fit: fill;
}