.log-reg{
    display:flex;
    flex-direction: row;
}
.item-reg{
    padding-left: 20px;
}


.login-modal-reg{
    position: absolute;
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: black;
  padding: 30px 30px 30px 30px;
 background-color:white;
}
.login-mod{
    z-index: 2;
}
.hide-log{
    display: none;
}

.background{
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
    
}
.close-reg
{
    position:relative;
    left: 95%;
    top: 1%;
    margin-top: 0;
    padding-top: 0;
    cursor:pointer;
}